@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(182, 182, 182);
}

h1 {
    color: rgb(0, 0, 100);
}

h2 {
    color: rgb(0, 0, 153);
}

h1#principal {
    text-align: center;
    background-color: rgb(0, 0, 100);
    color: white;
    padding: 10px;
}

.basico {
    background-color: rgb(23, 100, 0);
    color: rgb(182, 182, 182);
    padding: 4px;
}

.intermediario {
    background-color: rgb(140, 143, 0);
    color: rgb(182, 182, 182);
    padding: 4px;
}

.avancado {
    background-color: rgb(100, 0, 0);
    color: rgb(182, 182, 182);
    padding: 4px;
}