@charset "UTF-8";

/*

Tablet: 768px até 992px 
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px

*/

@media print {

    main {
        border: 2px solid black;
        width: 90vw;
    }

    main h1 {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
    }

    img#celular { display: none; }
    img#tablet { display: none; }
    img#impressora { display: block; }
    img#computador { display: none; }
    img#televisão { display: none; }
}

@media screen and (min-width: 768px) and (max-width: 1220px) {
    body {
        background-image: url('../imagens/back-tablet.jpg');
    }
    
    img#celular { display: none; }
    img#tablet { display: block; }
    img#impressora { display: none; }
    img#computador { display: none; }
    img#televisão { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url('../imagens/back-pc.jpg');
    }

    img#celular { display: none; }
    img#tablet { display: none; }
    img#impressora { display: none; }
    img#computador { display: block; }
    img#televisão { display: none; }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url('../imagens/back-tv.jpg');
    }

    main {
        width: 700px;
    }

    img#celular { display: none; }
    img#tablet { display: none; }
    img#impressora { display: none; }
    img#computador { display: none; }
    img#televisão { display: block; }
}